/*Code CSS perso*/
.cequecettepagedoitcontenir{
  color:rgb(255, 0, 0)
}
.criterebronze{
  color:rgb(196, 89, 17)
}
.critereargent{
  color:rgb(128, 128, 128)
}
.critereor{
  color:rgb(191, 143, 0)
}
.inspiration{
  color:rgb(112, 48, 160)
}
/*Fin code CSS perso*/
